---
layout: default
---

{% include intro.html %}

<section class="post-list">
    <div class="container">
        {% for post in paginator.posts %}
            <div class="post-preview">
                <span class="post-title alignable pull-left">
                    <a class="post-link underline" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </span>
                <span class="post-time alignable pull-right">
                    <time>{{ post.date | date: '%B %d, %Y '}}</time>
                    <!-- 下面是用于计算字数的 必要时可删去 -->
                    <span style="margin: 0 8px;">|</span>
                    <span>约 {% include word_count.html content=post.content %} 词</span>
                    <!-- 上面是用于计算字数的 必要时可删去-->
                </span>
                <div style="clear:both"></div>
            </div>
        {% endfor %}
    </div>
</section>
