@import "syntax_highlighting";
@import "table";

.content {
    hr {
        margin: $base-spacing 0;
    }

    sup {
        vertical-align: super;
        font-size: 12px;
    }

    p {
        line-height: $base-line-height;
    }

    h1, h2, h3, h4, h5, h6, dl {
        margin: 1em 0;
    }

    .post-title {
        margin-top: 0.1em;
        font-size: 40px;
        margin-bottom: $base-spacing;
        font-family: 'Montserrat';
        color: $accent-color;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 29px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 23px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 19px;
        margin: $base-spacing/3 0;
        //font-weight: lighter;
    }

    a {
        text-decoration: none;
        border-bottom: 2px solid $underline-color;
    }

    a:hover {
        color: inherit;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        border-bottom: 2px solid $accent-color;
    }

    .disabled {
        font-size: 17px;
        color: #fff;
        background: $accent-color;
        border: none;
        padding: $base-spacing/4 $base-spacing/2;
    }

    .disabled:hover {
        color: #fff;
        background: $accent-color;
        border: none;
        padding: $base-spacing/4 $base-spacing/2;
    }

    .capsule {
        padding: $base-spacing/4 $base-spacing/2;
        font-size: 17px;
        border-radius: 15px;
        background: $accent-color;
        color: #fff;
    }

    .anchorjs-link {
        border: none;
    }

    .anchorjs-link:hover {
        color: $accent-color;
        border: none;
    }

    .hide {
        display: inline-block;
    }

    blockquote {
        font-size: $base-font-size;
        padding: 0 0 0 $base-spacing;
        margin: $base-spacing 0;
        color: $medium-gray-color;
        line-height: 1.8;
        border-left: $small-spacing / 3 solid $light-gray-color;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0.1em 0;
    }

    p > code, li > code {
        color: $git-black-color;
        //padding: 0.1em 0.1em 0.1em 0.1em;
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
        font-size: 0.9em;
        line-height: 1.4;
        vertical-align: baseline;
        background: #f7f7f7;
        font-family: $code-font;
    }

    pre code {
        font-size: 19px;
        padding: 1em;
        display: block;
        border-radius: 5px;
        background: #f7f7f7;
    }

    ul, ol {
        padding: $base-spacing/5 $base-spacing;

        ul, ol {
            padding: 0 0 0 $base-spacing;
            margin: $base-spacing/3 0;

            li {
                line-height: 2.0;
                margin: 0.3em 0 0.3em 1.5em;
            }
        }
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: decimal;

        ol {
            list-style-type: lower-alpha;

            ol {
                list-style-type: lower-roman;

                ol {
                    list-style-type: lower-roman;
                }
            }
        }
    }

    li {
        font-size: 19px;
        font-weight: normal;
        margin: 0.8em 0em 0.8em 0.5em;
    }

    li p {
        font-size: 19px;
    }
}

mjx-container[display="true"] {
    font-size: 1.25em !important;
    margin: 1em 0 !important;
    text-align: center !important;
}