@font-face{
    font-family: 'FZFWZhuZiMinchoR';
    src: url("../fonts/FZFWZhuZiMinchoR.woff") format("woff")
}

/* josefin-sans-100 - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-300 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-200 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-regular - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-600 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-500 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-700 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/josefin-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// Font stacks
$font-stack-one: 'ubuntu';
$font-stack-two: 'Josefin Sans', 'FZFWZhuZiMinchoR';
$font-stack-three: 'Montserrat';
$code-font: 'consolas', 'Menlo', 'Roboto Mono', 'Roboto';

// Spacing and Sizes
$base-font-size: 1.2em;
$base-line-height: 2.0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$max-width: 800px;

$break-small: 480px;
$break-medium: 700px;
$break-large: 980px;

$big-circle-size: 30px;
$footer-size: 230px;
$about-image-size: 100px;

// Colors
$accent-color: #39c5bb;//#2358D1;
$underline-color: #E1E1E1;
$light-color: #D4D4D4;
$medium-gray-color: #999;
$light-gray-color: #ccc;
$git-black-color: #333333;
$well-color: #f7f7f7;

/* Solarized Colors */
$sol-base1: #93a1a1;
